body{
    background: url('../img/background-02.jpg') fixed center center;
    background-position: contain;
}
h1{
    font-style: italic;
    text-transform: uppercase;
}
p{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}
p:first-child{
    text-align: justify;
}
h1#last-title{
    text-align: center;
}
a[target="_blank"]:hover{
    background: black;
}
ul{
    list-style-image: url('../img/mark02.jpeg');
}